@{
    ViewData["Title"] = "Панель управления";
    var user = ViewData["user"] as WebUsers;
    var ls = DudelkaBot.Bot.TwitchBot.Get(user.Channel);
    var bot_status = ls != null ? ls.State : DudelkaBot.Bot.BotState.Stoped;
}

<br />
<div class="row">
    <div class="col-md-1">
        <div id="bot_status" class="status-@bot_status"></div>
    </div>
    <div class="col-md-3">
        <a class="btn" id="btn_run" onclick="runAPI('BotRun')">Запустить бота</a>
        <a class="btn" id="btn_stop" onclick="runAPI('BotStop')">Отключить бота</a>
    </div>
</div>

<script>startUpdate();</script>