@{
    ViewData["Title"] = "Авторизация";
}
<div class="row">
    <div class="center-form col-md-3">
        <form class="form-horizontal" method="post" action="#">
            <div class="control-group">
                <label class="control-label">Email</label>
                <div class="controls">
                    <input type="text" name="Email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Пароль</label>
                <div class="controls">
                    <input type="password" name="Password">
                </div>
            </div>
            <br />
            <div class="control-group">
                @if (ViewData.ContainsKey("errorMessage"))
                {
                    <label class="control-label" style="color:red;">Ошибка: @ViewData["errorMessage"]</label>
                }
                <div class="controls">
                    <button type="submit" class="btn">Войти</button>
                </div>
                <br />
                <a href="RegNew">Нет учетной записи?</a>
            </div>
        </form>
    </div>
</div>